@charset 'utf-8';

/* ここはgeneral */

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* ここからheader */

header {
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  background: greenyellow;
}

header>h1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background: yellow;
  border-radius: 50%;
}

header>h2 {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

/* ここからmain */

main {
  margin: 16px 8px 0;
  padding: 8px;
  border: 2px solid yellow;
  background: #ffffda;
}

main>div+div {
  margin-top: 32px;
}

main>div>h3 {
  margin: 8px auto;
  text-align: center;
}

main>div>input {
  display: block;
  margin: 8px auto;
  width: 64px;
}

main>div>.range-container {

}

main>div>div>#prime-number-size {
  width: 200px;
  margin-left: calc((100% - 200px) / 2);
}

main>div>div>#range-value {
  vertical-align: 2px;
  margin-left: 8px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main>div>p {
  margin: 8px auto;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 64px;
}

main>div>button {
  display: block;
  margin: 8px auto;
  padding: 8px 16px;
  background: greenyellow;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* ここからfooter */

footer {
  margin: 16px 0 0;
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  background: greenyellow;
}

footer>p {
  line-height: 48px;
  text-align: center;
}

footer>p>small {
  font-size: 16px;
}

.copy-right {
  font-size: 24px;
  vertical-align: -3px;
}