@charset 'utf-8';

/* ここはgeneral */

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* ここからheader */

header {
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  background: greenyellow;
}

header > h1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  background: yellow;
  border-radius: 50%;
}

header > h2 {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

/* ここからmain */

main {
  margin: 16px 8px 0;
  padding: 8px;
  border: 2px solid yellow;
  background: #ffffda;
}

main > div {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
  border: 1.5px solid seagreen;
  border-radius: 4px;
  text-align: center;
}

main > div > span.refresh {
  cursor: pointer;
}

main > div > span.refresh:hover {
  opacity: .5;
}

#password {
  font-size: 20px;
  line-height: 24px;
}

main > div > span.content-copy {
  cursor: pointer;
}

main > div > span.content-copy:hover {
  cursor: pointer;
  opacity: .5;
}

main > h3 {
  margin: 8px 0 0;
  padding: 8px 0 0;
  border-top: 2px solid lightgray;
}

main > section {
  margin: 8px 0 0;
  padding: 8px 0 0;
}

main > section + section {
  border-top: 2px solid lightgray;
}

main > section > p {
  text-align: start;
  
}

.password-length-edit {
  margin: 4px 0 0;
  display: flex;
  gap: 16px;
}

main > section > div > input[type="range"] {
  width: 200px;
}

.password-length {
  /* margin-right: 16px */
}

main > section > input[type="checkbox"] {
  margin: 8px 0 0;
  vertical-align: middle;
}

main > section > input[type="text"] {
  margin: 8px 0 0;
text-align: center;
vertical-align: middle;
}

/* ここからfooter */

footer {
  margin: 16px 0 0;
  height: 48px;
  box-sizing: border-box;
  padding: 0;
  background: greenyellow;
}

footer > p {
  line-height: 48px;
  text-align: center;
}

footer > p > small {
  font-size: 16px;
}

.copy-right {
  font-size: 24px;
  vertical-align: -3px;
}